<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>添加媒资文件</h1>
<form method="post" enctype="multipart/form-data" >
    {% for field in mf %}
        <div class="form-group col-sm-10">
            {{ field.label }}:{{ field }}
            {{ field.erros }}
        </div>
    {% endfor %}
    <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-offset-1 col-sm-6">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>
</body>
</html>