<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>范畴控制</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>{{ head }}</h1>
<form method="post" enctype="multipart/form-data">
    {% for field in af %}
        <div class="form-group col-sm-10">
            {{ field.label }}:{{ field }}
        <div style="color:red;">{{ field.errors }}</div>
        </div>
    {% endfor %}
    <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-offset-1 col-sm-6">
            <button type="submit" class="btn btn-primary">提交</button>
{#        判断是添加范畴    添加媒资分类   范畴用户关系 添加决策#}
            {% if '媒资分类' in head %}
                <a href="/class" type="submit" class="btn btn-success">取消</a>
            {% endif %}
            {% if '添加范畴' in head %}
                <a href="/field" type="submit" class="btn btn-success">取消</a>
            {% endif %}
            {% if '范畴用户' in head %}
                <a href="/user_field" type="submit" class="btn btn-success">取消</a>
            {% endif %}
            {% if '添加决策' in head %}
                <a href="/field_class" type="submit" class="btn btn-success">取消</a>
            {% endif %}
        </div>
    </div>
</form>
</body>
</html>