<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>更新范畴信息</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>更新范畴信息</h1>
<div style="width: 550px;">
    <form action="/updatefield" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">范畴编号</label>
            <div class="col-sm-10">
                <input type="text" name="field_id" value="{{ field.1 }}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">范畴名称</label>
            <div class="col-sm-10">
                <input type="text" name="field_name" value="{{ field.0 }}" class="form-control">
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label" >父类范畴</label>
            <div class="col-sm-10">
                <select class="form-control" value="{{ field.2 }}" name="parent_name">
                    {% for k,v in uu %}
                        {% if k == field.2 %}
                        <option value="{{ v }}" selected="selected">{{ v }}</option>
                        {% else %}
                        <option value="{{ v }}">{{ v }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> </label>
            <div class="col-sm-offset-5 col-sm-10">
                <button type="submit" class="btn btn-primary active">提交</button>
                <a href="/showfields" type="submit" class="btn btn-primary active">取消</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>